.nav {
  padding: 0;
}
.nav_bg {
  height: 200px;
  background: padding-box url('/public/nav.jpg') 0 0/cover no-repeat;
}

.menu {
  font-size: 16px;
  font-weight: bold;
  padding: 12px 0;
  display: flex;
  justify-content: center;
}
.menu li + li {
  margin-left: 2em;
}